.topBar{
    background-color: rgba(255,255,255,0.05);
    // background-color: #f9f9f9;
    backdrop-filter: blur(1rem);
    position: relative;
    -webkit-backdrop-filter: blur(1rem);

    border-radius: 2rem;
    padding: 2rem;
    // border: 1px solid red;
    &__flex{
       display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__image{
        max-width: 10%;
    }
    // &:hover{
    //     box-shadow: 12px 12px 12pc rgba(0,0,0,0.1), -10px -10px 10px #fff;
    // }
    // @property --angle{
    //     syntax:"<angle>";
    //     initial-value: 0deg;
    //     inherits: false;
    // }
    // &::after, &::before{
    //     // --angle:0deg;
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top:50%;
    //     left: 50%;
    //     transform :translate( -50%, -50%);
    //     z-index: -1;
    //     padding: 1rem;
    //     border-radius: 2rem;
    //     background-image: conic-gradient(from var(--angle),blue,red);
    //     animation: 3s spin linear infinite;

    // }
    // &::before{
    //     filter:blur(1.5rem);
    //     // opacity: .5;
    // }
    // @keyframes spin{
    //     from{
    //         --angle:0deg
    //     }
    //     to{
    //         --angle:360deg
    //     }
    // }
}