.topBar{
    background-color: rgba(255,255,255,0.05);
    // background-color: #f9f9f9;
    backdrop-filter: blur(1rem);
    position: relative;
    -webkit-backdrop-filter: blur(1rem);
    box-shadow: 12px 12px 12pc rgba(0,0,0,0.1);
    // background: rgb(141,255,237);
    // background: linear-gradient(0deg, rgba(141,255,237,1) 0%, rgba(44,187,168,1) 33%, rgba(47,135,132,1) 67%, rgba(5,56,125,1) 100%)

    margin-top: 2rem;
    border-radius: 2rem;
    padding: 2rem;
    // border: 1px solid red;
    &__flex{
       display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__image{
        max-width: 5%;
    }
    &__form{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
            font-weight: 700;
            font-size: 2.3rem;
        }
    }
    &__form--content{
        display: flex;
        justify-content: space-between;
        padding: 1rem ;
        gap:2rem
    }
    &__form--select{
        // padding: 1rem 0;
        // border-radius:1rem ;
        border:none;
        
    }
    &__submit{
        border-radius:1rem ;
        background-color: rgba(255,255,255,0.05);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        border:none;
        padding:1rem 2rem;
        color: #fff;
        transition-duration: .5s ;
        transition-property: background-color;
        &:hover{
            background-color: rgba(44,187,168,1) ;
            cursor: pointer;
        }
    }
    &__form--select-wrapper {
        background-color: rgba(255,255,255,0.05);
        border-radius: 1rem;
        padding: 1rem 2rem;
        i{
            color: #fff;
        }
        input{
            background-color: transparent;
            color: #fff;
            &::placeholder{
                color: #fff;
            }
        }
        
    }
    &__form--input{
        border: none;
        outline: none;
        &:focus-visible strong{
            outline: none;
            
        }
    }
    // &:hover{
    //     box-shadow: 12px 12px 12pc rgba(0,0,0,0.1), -10px -10px 10px #fff;
    // }
    // @property --angle{
    //     syntax:"<angle>";
    //     initial-value: 0deg;
    //     inherits: false;
    // }
    // &::after, &::before{
    //     // --angle:0deg;
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top:50%;
    //     left: 50%;
    //     transform :translate( -50%, -50%);
    //     z-index: -1;
    //     padding: 1rem;
    //     border-radius: 2rem;
    //     background-image: conic-gradient(from var(--angle),blue,red);
    //     animation: 3s spin linear infinite;

    // }
    // &::before{
    //     filter:blur(1.5rem);
    //     // opacity: .5;
    // }
    // @keyframes spin{
    //     from{
    //         --angle:0deg
    //     }
    //     to{
    //         --angle:360deg
    //     }
    // }
}