---
import Layout from '../components/Astro/layouts/Layout.astro';
---

<Layout title="Wheater API">
		<div class="topBar container">
			<div class="topBar__flex">
				<div class="topBar__image">
					<img src="img/tierra.png" alt="logo Page">
				</div>
				<form action="" class="topBar__form" id="form">
					<label for="search">Search for your City</label>
					<div class="topBar__form--content ">
						<div class="topBar__form--select-wrapper">
							<i class="fa-solid fa-magnifying-glass"></i>
							<input list="cities" name="search" id="search" class="topBar__form--input" placeholder="Type to search...">
							<datalist id="cities">
								<!-- <option value="tilin">tilin</option> -->
							</datalist>
						</div>
						<button type="submit" class="topBar__submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
				</form>
			</div>
		</div>
		<main class="main card container">
			<div class="main__information ">
				<p class="main__city--information" id="cityInfo"></p>
			</div>
			<div class="main__weather card__flex" id="main">
				<div class="card__information">

				</div>
				<div class="card__visuals">
					
				</div>				
			</div>
		</main>
		<section class="container days" id="days">
			<div class="days__sunday card" id="sunday">
				
			</div>
			<div class="days__monday card" id="monday">

			</div>
			<div class="days__tuesday card" id="tuesday">
		
			</div>
			<div class="days__wednesday card" id="wednesday">
				
			</div>
			<div class="days__thursday card" id="thursday">
				
			</div>
			<div class="days__friday card" id="friday">
				
			</div>
			<div class="days__saturday card" id="saturday">
				
			</div>
		</section>
		<section id="images">
			
		</section>
</Layout>