---
import Layout from '../components/Astro/layouts/Layout.astro';
import '../components/scss/app.scss';
---

<Layout title="Climate API">
	<main>

		<div class="topBar">
			<div class="topBar__flex">
				<div class="topBar__image">
					<img src="img/tierra.png" alt="logo Page">
				</div>
				<form action="" class="topBar__form">
					<label for="search">Search for your City</label>
					<div class="topBar__form--content ">
						<div class="topBar__form--select-wrapper">
							<i class="fa-solid fa-magnifying-glass"></i>
							<input list="cities" name="search" id="search" class="topBar__form--input" placeholder="Type to search...">
							<datalist id="cities">
							</datalist>
						</div>
						<button type="submit" class="topBar__submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					
				</form>
			</div>
		</div>
		<main class="container main" id="main">
			<div class="main__information ">
				<p class="main__city" id="cityName"></p>
				<p class="main__hour" id="cityHour"></p>
			</div>
			<div class="main__weather card" id="main">
				<div class="card__flex">
					<div class="card__information">
						<p class="card__temperature"></p>
						<p class="card__text"></p>
						<p class="card__min--max--temperature"></p>
					</div>
					<div class="card__visuals">
						<img src="" alt="logo weather" class="card__image">
						<div class="card__rain--probaility">
							<img src="" alt="rain probability" class="card__rain">
							<p class="card__probaility"></p>
						</div>
					</div>
				</div>
				
			</div>
		</main>
		<section class="container days">
			
			<div class="days__monday card" id="monday">
				<p class="days__title">Monday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__tuesday card" id="tuesday">
				<p class="days__title">Tuesday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__wednesday card" id="wednesday">
				<p class="days__title">Wednesday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<svg class="card__rain" style="width: 1em;height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M375.808 417.450667c0-8.874667 4.437333-20.138667 12.970667-34.474667 8.533333-14.336 17.066667-26.282667 24.917333-35.498667 2.048-2.389333 4.778667-5.802667 7.850667-9.557333s5.12-5.802667 5.461333-6.144l12.629333 14.677333c9.557333 10.581333 18.090667 22.528 25.941334 36.522667 7.850667 13.994667 11.946667 25.258667 11.946666 34.474667 0 13.994667-4.778667 26.282667-14.677333 36.181333-9.557333 9.898667-21.504 15.018667-35.84 15.018667-13.994667 0-26.282667-5.12-36.181333-15.018667-9.898667-10.24-15.018667-22.186667-15.018667-36.181333z m106.496 141.653333c0-9.898667 2.730667-21.162667 8.192-34.474667 5.461333-12.970667 12.288-25.258667 20.48-36.181333 15.701333-20.821333 30.378667-38.229333 44.714667-52.224 1.365333-1.024 4.437333-3.754667 8.874666-8.192l8.533334 8.192c13.312 12.629333 28.330667 30.037333 45.056 51.882667 8.874667 11.605333 15.701333 23.893333 21.162666 36.864s8.192 24.234667 8.192 34.133333c0 23.552-7.850667 43.008-23.893333 59.050667s-35.84 23.893333-59.050667 23.893333c-23.210667 0-42.666667-8.192-58.709333-24.234667s-23.552-35.84-23.552-58.709333z m51.882667-235.52c0-14.677333 11.264-34.133333 34.133333-58.026667l8.533333 9.557334c6.485333 7.509333 12.288 15.701333 17.408 25.258666 5.12 9.216 7.850667 17.066667 7.850667 23.210667 0 9.557333-3.413333 17.066667-9.898667 23.552-6.485333 6.144-14.336 9.557333-23.893333 9.557333-9.898667 0-18.090667-3.072-24.576-9.557333a33.314133 33.314133 0 0 1-9.557333-23.552z"  /></svg>						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__thursday card" id="thursday">
				<p class="days__title">Thursday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__friday card" id="friday">
				<p class="days__title">Friday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__saturday card" id="saturday">
				<p class="days__title">Saturday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__sunday card" id="sunday">
				<p class="days__title">Sunday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script src="js/app.js" type="module"></script>

</Layout>