.card{
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 2rem;
    padding: 2rem;
    &__rain{
        // filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
        // background-color: blue;
        fill: blue;
        path{
            width: 20rem;

        }

    }
}
