.card{
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 2rem;
    padding: 2rem;
    p{
        // margin: 0;
    }
    &__rain{
        path{
            fill: rgba(5,56,125,1);

        }
    }
    &__flex{
        display: flex;
        gap: 2rem;
        justify-content: space-around;
    }

    &__temperature{
        font-size: 4rem;
        margin: 2rem 0;
        font-weight: 600;
    }
    &__text{
        font-size: 2.2rem;
    }
    &__min--max--temperature{
        font-size: 2rem;
    }
    &__text, &__min--max--temperature{
        font-weight: 500;
    }
}
