.card{
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 2rem;
    padding: 2rem;
    &__rain{
        path{
            fill: rgba(5,56,125,1);

        }

    }
}
