@use '../../base/variables' as v; 
@use '../../base/mixins' as m;

.days{
    margin-top: 2rem;
    padding: 2rem 0;
    font-size: 1.6rem;
    @include m.desktop {
        @include m.grid(7,2rem);
    }
    &__title{
        text-align: center;
        font-weight: 700;
        color: #fff;
    }
}